@using MainProject.ViewModels
@model ShelfViewModel

@{
	var imagePath = Model.profilePicture;
	var profileName = Model.name;
	var pagesRead = Model.pagesRead;
	var booksRead = Model.booksRead;
	var dateJoined = Model.joinDate;
	var description = Model.description;
}

<div class="row mx-auto h-100">
	<div class="col bg-primary profile-bar h-100 d-flex flex-column align-items-center">
		<img class="profile-picture rounded-circle" src="@imagePath" />
		<div class="h1">@profileName</div>
		<div class="">@pagesRead</div>
		<div class="">@booksRead</div>
		<div class="">@dateJoined</div>
		<div class="">@description</div>
	</div>
	<div class="col bg-secondary h-100">
		hello
	</div>
</div>